/*@import "common.rasi"*/

* {
  font:                     "Hack Nerd Font 18";
}

#window {
  height: 120px;
  width: 360px;
  children: [ inputbar, horibox ];
  border: 2px;
}

#inputbar {
  enabled: false;
}

#prompt {
  padding: 10px 15px;
  margin: 8px;
}

#listview {
  padding: 10px 15px;
  spacing: 15px;
  lines: 2;
}

#element {
  padding: 6px 9px 6px -18px;
}
